<section id="footer" class="container-fluid section-top-bottom-padding ps-0 pe-0">
    <div class="container-fluid ribbon bg-primary p-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 text-center">
                <h2 class="fw-bold text-white">Start your free trial</h2>
                <p class="text-white opacity-50 mt-3">Join over 4,000+ startups already growing with Untitled.</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center mt-5">
                <div class="row justify-content-center">
                    <div class="col-6 text-end">
                        <button class="btn btn-white">Learn More</button>
                    </div>
                    <div class="col-6 text-start">
                        <button class="btn btn-purple">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row gy-5 gx-5 p-3">
            <div class="col-12 d-block d-md-none text-start text-md-center">
                <ul style="list-style-type: none;" class="footer-menu-title">
                    <p class="fw-bold sm-text">Get the app</p>
                    <img src="/dist/assets/images/svg/home/appStore-1.svg" alt="app store" class="img-fluid mt-4">
                    <img src="/dist/assets/images/svg/home/appStore-2.svg" alt="app store" class="img-fluid mt-4">
                </ul>
            </div>
            <div class="col-md-2 col-6 text-start text-lg-center">
                <ul style="list-style-type: none;" class="footer-menu-title">
                    <p class="fw-bold sm-text">Product</p>
                    <li class="text-primary mt-4 md-text">Overview</li>
                    <li class="text-primary mt-3 md-text">Features</li>
                    <li class="text-primary mt-3 md-text">Solutions</li>
                    <li class="text-primary mt-3 md-text">Tutorials</li>
                    <li class="text-primary mt-3 md-text">Pricing</li>
                    <li class="text-primary mt-3 md-text">Releases</li>
                </ul>
            </div>
            <div class="col-md-2 col-6 text-start text-lg-center">
                <ul style="list-style-type: none;" class="footer-menu-title">
                    <p class="fw-bold sm-text">Company</p>
                    <li class="text-primary mt-4 md-text">About us</li>
                    <li class="text-primary mt-3 md-text">Careers</li>
                    <li class="text-primary mt-3 md-text">Press</li>
                    <li class="text-primary mt-3 md-text">News</li>
                    <li class="text-primary mt-3 md-text">Media kit</li>
                    <li class="text-primary mt-3 md-text">Contact</li>
                </ul>
            </div>
            <div class="col-md-2 col-6 text-start text-lg-center">
                <ul style="list-style-type: none;" class="footer-menu-title">
                    <p class="fw-bold sm-text">Resources</p>
                    <li class="text-primary mt-4 md-text">Blog</li>
                    <li class="text-primary mt-3 md-text">Newsletter</li>
                    <li class="text-primary mt-3 md-text">Events</li>
                    <li class="text-primary mt-3 md-text">Help centre</li>
                    <li class="text-primary mt-3 md-text">Tutorials</li>
                    <li class="text-primary mt-3 md-text">Support</li>
                </ul>
            </div>
            <div class="col-md-2 col-6 text-start text-lg-center">
                <ul style="list-style-type: none;" class="footer-menu-title">
                    <p class="fw-bold sm-text">Social</p>
                    <li class="text-primary mt-4 md-text">Twitter</li>
                    <li class="text-primary mt-3 md-text">LinkedIn</li>
                    <li class="text-primary mt-3 md-text">Facebook</li>
                    <li class="text-primary mt-3 md-text">GitHub</li>
                    <li class="text-primary mt-3 md-text">AngelList</li>
                    <li class="text-primary mt-3 md-text">Dribbble</li>
                </ul>
            </div>
            <div class="col-md-2 col-6 text-start text-lg-center">
                <ul style="list-style-type: none;" class="footer-menu-title">
                    <p class="fw-bold sm-text">Legal</p>
                    <li class="text-primary mt-4 md-text">Terms</li>
                    <li class="text-primary mt-3 md-text">Privacy</li>
                    <li class="text-primary mt-3 md-text">Cookies</li>
                    <li class="text-primary mt-3 md-text">Licenses</li>
                    <li class="text-primary mt-3 md-text">Settings</li>
                    <li class="text-primary mt-3 md-text">Contact</li>
                </ul>
            </div>
            <div class="col-md-2 d-md-block d-none text-start text-md-center">
                <ul style="list-style-type: none;">
                    <p class="fw-bold sm-text">Get the app</p>
                    <img src="/dist/assets/images/svg/home/appStore-1.svg" alt="app store" class="img-fluid mt-4">
                    <img src="/dist/assets/images/svg/home/appStore-2.svg" alt="app store" class="img-fluid mt-4">
                </ul>
            </div>
        </div>
        <hr>
        <div class="row m-lg-4 m-4 m-md-3 gy-4">
            <div class="col-md-6 col-12 text-start">
                <img src="/dist/assets/images/svg/home/Headerlogo.svg" alt="logo">
            </div>
            <div class="col-md-6 col-12 text-end">
                <p class="text-muted md-text">© 2077 Untitled UI. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>