{% set page_class = 404 %}
{% extends "./app/partials/template.njk" %}
{% block main %}

    <!-- start header -->
    {% include "./app/partials/_header.njk"%}
    <!-- end header -->

    <!-- start hero section -->
    <section id="hero" class="hero text-center container section-margin">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12">
                <h1 class="fw-bold">Sorry We Can't Find The Page thath you're looking for</h1>
                <p class="text-muted w-auto text-center m-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim</p>
            </div>
        </div>
        <button class="btn btn-outline-dark rounded-0 p-3 mt-5 " type="submit">Back to home</button>
    </section>
    <!-- end hero section -->

    <!-- start footer -->
    {% include "./app/partials/_footer.njk"%}
    <!-- end footer -->

{% endblock %}