{% set page_class = home %}
{% extends "./app/partials/template.njk" %}
{% block main %}
<!-- start header -->
{% include "./app/partials/_header.njk"%}
<!-- end header -->

<!-- start hero section -->
<section id="hero" class="hero text-center container section-margin">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12">
            <h1 class="fw-bold">We Help You Building The Dreams & Bring More Than You Expect</h1>
            <p class="text-muted w-auto text-center m-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim</p>
        </div>
        <div class="col-12">
            <div class="hero-img mt-5">
                <img src="/dist/assets/images/png/home/hero-img.png" alt="hero img" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- end hero section -->

<!-- start working section -->
<section id="work" class="work  container section-margin">
    <div class="row">
        <div class="col-lg-6 col-12">
            <h3 class="fw-bold">
                Working With Experts Who Have Common Interest
            </h3>
        </div>
        <div class="col-lg-6 col-12 mt-3 mt-lg-1">
            <div class="row">
                <div class="col-6">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <img src="/dist/assets/images/png/home/work-left.png" alt="work-left-img" class="img-fluid">
        </div>
        <div class="col-lg-6 col-12 text-lg-end text-start mt-5 mt-lg-1">
            <img src="/dist/assets/images/png/home/work-right.png" alt="work-right-img" class="img-fluid">
            <div class="row">
                <div class="col-lg-12 col-6">
                    <p class="text-muted mt-5 text-start m-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
                <div class="col-lg-12 col-6 text-center">
                    <button class="btn btn-outline-dark rounded-0 p-3 mt-5 home-work-btn" type="submit">See All
                        Work</button>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- end working section -->

<!-- start service section -->
<section class="service container section-margin" id="service">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-6 col-lg-12 text-lg-center text-start align-self-center">
                    <h2 class="fw-bold">Our Service</h2>
                </div>
                <div class="col-6 col-lg-12 pb-5 d-lg-none d-block text-center">
                    <button class="btn btn-outline-dark rounded-0 p-3 mt-5 " type="submit">See All
                        Services</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="row">
                <div class="col-4 home-service-card">
                    <div class="card border border-0 rounded-0">
                        <img src="/dist/assets/images/png/home/service-img.png" class="card-img-top" alt="service card">
                        <div class="card-title text-center mt-3">
                            <h3 class="fw-bold">Interior Design</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 home-service-card">
                    <div class="card border border-0 rounded-0">
                        <img src="/dist/assets/images/png/home/service-img.png" class="card-img-top" alt="service card">
                        <div class="card-title text-center mt-3">
                            <h3 class="fw-bold">Exterior Design</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4  home-service-card">
                    <div class="card border border-0 rounded-0">
                        <img src="/dist/assets/images/png/home/service-img.png" class="card-img-top" alt="service card">
                        <div class="card-title text-center mt-3">
                            <h3 class="fw-bold">Commercial Design</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-outline-dark rounded-0 p-3 mt-5 d-lg-block d-none m-auto" type="submit">See All
                Services</button>
        </div>
    </div>
</section>
<!-- end service section -->

<!-- start quote section -->
<section id="quote" class="quote section-margin container">
    <div class="row">
        <div class="col-lg-7 col-12">
            <h2 class="fw-bold w-auto">For a house to be successful the objects in it must communicate with one another
                respond
                and create a
                balance in harmony</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
            <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
        </div>
        <div class="col-lg-6 col-12 text-lg-end mt-lg-1 mt-4">
            <img src="/dist/assets/images/png/home/work-left.png" alt="quote img" class="img-fluid">
        </div>
    </div>
</section>
<!-- end quote section -->

<!-- start awwwards section -->
<section class="awards container section-margin" id="awards">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-6 col-lg-12 text-lg-center text-start align-self-center">
                    <h2 class="fw-bold">Winning Awards</h2>
                </div>
                <div class="col-6 col-lg-12 pb-5 d-lg-none d-block text-center">
                    <button class="btn btn-outline-dark rounded-0 p-3 mt-5 " type="submit">See All Awards</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="row">
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2010</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Nord Design Awards</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit, sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2010</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Nord Design Awards</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit, sed do
                                eiusmod tempor incididunt</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2010</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Nord Design Awards</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit, sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2010</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Nord Design Awards</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit, sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-outline-dark rounded-0 p-3 mt-5 d-lg-block d-none m-auto" type="submit">See All
                Awards</button>
        </div>
    </div>
</section>
<!-- end awwwards section -->

<!-- start client section -->
<section class="client container section-margin" id="client">
    <div class="row">
        <div class="col-6 text-start">
            <h1>Our Happy Clients</h1>
        </div>
        <div class="col-6 align-self-center text-end">
            <button class="btn btn-outline-dark rounded-0 p-3" type="submit">See All Reviews</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <div class="row">
                <div class="col-4">
                    <img src="/dist/assets/images/png/home/client-img.png" alt="client img" class="img-fluid">
                </div>
                <div class="col-8 p-md-5">
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.
                    </p>
                    <h4>Mas Yhanto</h4>
                    <p class="text-muted">Kang Bakso</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-5 mt-lg-1">
            <div class="row">
                <div class="col-4">
                    <img src="/dist/assets/images/png/home/client-img.png" alt="client img" class="img-fluid">
                </div>
                <div class="col-8 p-md-5">
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.
                    </p>
                    <h4>Mas Yhanto</h4>
                    <p class="text-muted">Kang Bakso</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end client section -->

<!-- start footer -->
{% include "./app/partials/_footer.njk"%}
<!-- end footer -->
{% endblock %}