{% set page_class = home %}
{% extends "./app/partials/template.njk" %}
{% block main %}
<!-- start header -->
{% include "./app/partials/_header.njk"%}
<!-- end header -->

<!-- start hero section -->

<!-- end hero section -->

<!-- start working section -->
<!-- end working section -->

<!-- start service section -->
<!-- end service section -->

<!-- start quote section -->
<!-- end quote section -->

<!-- start awwwards section -->
<!-- end awwwards section -->

<!-- start client section -->
<!-- end client section -->

<!-- start footer -->
{% include "./app/partials/_footer.njk"%}
<!-- end footer -->
{% endblock %}