{% set page_class = pricing %}
{% extends "./app/partials/template.njk" %}
{% block main %}

<!-- start header -->
{% include "./app/partials/_header.njk"%}
<!-- end header -->

<!-- start hero section -->
<section id="hero" class="hero text-center container section-margin">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12">
            <h1 class="fw-bold">Pricing</h1>
            <p class="text-muted w-auto text-center m-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim</p>
        </div>
        <div class="col-12">
            <div class="hero-img mt-5">
                <img src="/dist/assets/images/png/home/hero-img.png" alt="hero img" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- end hero section -->

<!-- strat pricing section -->
<section class="container pricing section-margin" id="pricing">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-12">
            <div class="card border-0 rounded-0 text-center">
                <div class="card-header border-0 rounded-0 pricing-header">
                    <h4 class="fw-bold">Basic</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="fw-bold">$56</h1>
                        <span class="mt-1">/month</span>
                    </div>
                    <ul class="mt-3 text-start">
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                    </ul>
                </div>
                <div class="card-footer border-0 bg-white">
                    <a href="#" class="btn btn-outline-dark rounded-0 pricing-button p-4">Select plan</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-12 mt-5 mt-lg-1">
            <div class="card border-0 rounded-0 text-center">
                <div class="card-header border-0 rounded-0 pricing-header">
                    <h4 class="fw-bold">Medium</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="fw-bold">$156</h1>
                        <span class="mt-1">/month</span>
                    </div>
                    <ul class="mt-3 text-start">
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                    </ul>
                </div>
                <div class="card-footer border-0 bg-white">
                    <a href="#" class="btn btn-outline-dark rounded-0 pricing-button p-4">Select plan</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-12 mt-5 mt-lg-1">
            <div class="card border-0 rounded-0 text-center">
                <div class="card-header border-0 rounded-0 pricing-header">
                    <h4 class="fw-bold">Professional</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="fw-bold">$456</h1>
                        <span class="mt-1">/month</span>
                    </div>
                    <ul class="mt-3 text-start">
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="bi bi-check2 me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                    </ul>
                </div>
                <div class="card-footer border-0 bg-white">
                    <a href="#" class="btn btn-outline-dark rounded-0 pricing-button p-4">Select plan</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing section -->

<!-- start quote section -->
<section id="quote" class="quote section-margin container">
    <div class="row">
        <div class="col-lg-7 col-12">
            <h2 class="fw-bold w-auto">For a house to be successful the objects in it must communicate with one another
                respond
                and create a
                balance in harmony</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
            <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
        </div>
        <div class="col-lg-6 col-12 text-lg-end mt-lg-1 mt-4">
            <img src="/dist/assets/images/png/home/work-left.png" alt="quote img" class="img-fluid">
        </div>
    </div>
</section>
<!-- end quote section -->

<!-- start footer -->
{% include "./app/partials/_footer.njk"%}
<!-- end footer -->

{% endblock %}