{% set page_class = single-post %}
{% extends "./app/partials/template.njk" %}
{% block main %}
<!-- start header -->
{% include "./app/partials/_header.njk"%}
<!-- end header -->

<!-- start hero section -->
<section id="hero" class="hero text-center container section-margin">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12">
            <h1 class="fw-bold">Lorem Ipsum Dolor Sit Amet Consectur</h1>
            <p class="text-muted w-auto text-center m-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim</p>
        </div>
        <div class="col-12">
            <div class="hero-img mt-5">
                <img src="/dist/assets/images/png/home/hero-img.png" alt="hero img" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- end hero section -->

<!-- start post details section -->
<section id="post-details" class="post-details container section-margin">
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
            <p class="text-muted mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
        </div>
        <div class="col-lg-6 col-12">
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
            <p class="text-muted mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <img src="/dist/assets/images/png/single-post/single-post-img.png" alt="single-post" class="img-fluid">
        </div>
        <div class="col-6">
            <img src="/dist/assets/images/png/single-post/single-post-img.png" alt="single-post" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-12">
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
            <p class="text-muted mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
        </div>
        <div class="col-lg-6 col-12">
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
            <p class="text-muted mt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit similique autem, odit officiis
                quibusdam quidem ab, libero natus eveniet facilis mollitia vel reprehenderit aliquid sunt. Earum
                incidunt in consequatur alias praesentium laboriosam molestias rerum saepe ut ea officia et sapiente
                voluptas sunt excepturi quisquam veniam impedit quas neque, similique reiciendis?
            </p>
        </div>
    </div>
</section>
<!-- end post details sections -->

<!-- start previous blog section -->
<section class="previous-blogs container section-margin" id="previous-blogs">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-6 col-lg-12 text-lg-center text-start align-self-center">
                    <h2 class="fw-bold">Previous Posts</h2>
                </div>
                <div class="col-6 col-lg-12 pb-5 d-lg-none d-block text-center">
                    <button class="btn btn-outline-dark rounded-0 p-3 mt-5 " type="submit">See All Blog</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="row">
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2 November 2022</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Lorem Ipsum Dolor Sit Amet Consectur</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                        <div class="mt-3 row">
                            <div class="col-6">
                                <p class="text-primary">Read More</p>
                            </div>
                            <div class="col-6">
                                <i class="bi bi-arrow-right text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2 November 2022</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Lorem Ipsum Dolor Sit Amet Consectur</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                        <div class="mt-3 row">
                            <div class="col-6">
                                <p class="text-primary">Read More</p>
                            </div>
                            <div class="col-6">
                                <i class="bi bi-arrow-right text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2 November 2022</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Lorem Ipsum Dolor Sit Amet Consectur</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                        <div class="mt-3 row">
                            <div class="col-6">
                                <p class="text-primary">Read More</p>
                            </div>
                            <div class="col-6">
                                <i class="bi bi-arrow-right text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 p-lg-5 p-2">
                    <div class="card border border-0 rounded-0">
                        <span class="text-secondary">2 November 2022</span>
                        <div class="card-title mt-3">
                            <h4 class="fw-bold">Lorem Ipsum Dolor Sit Amet Consectur</h4>
                        </div>
                        <div class="card-body ps-0 pe-0">
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, con sec tetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt.</p>
                        </div>
                        <div class="mt-3 row">
                            <div class="col-6">
                                <p class="text-primary">Read More</p>
                            </div>
                            <div class="col-6">
                                <i class="bi bi-arrow-right text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-outline-dark rounded-0 p-3 mt-5 d-lg-block d-none m-auto" type="submit">See All
                Blog</button>
        </div>
    </div>
</section>
<!-- end previous blog section -->

<!-- start footer -->
{% include "./app/partials/_footer.njk"%}
<!-- end footer -->

{% endblock %}