{% set page_class = typography %}
{% extends "./app/partials/template.njk" %}
{% block main %}
    <section #styleGuide class="style-guide mb-lg-5">
        <div class="container-fluid header bg-light">
            <div class="container p-5 ">
                <h2 class="hero-title">Typography</h2>
            </div>
        </div>
        <div class="container p-5">
            <h1 class="fw-bold">Alegreya</h1>
        </div>
        <!-- heading container -->
        <div class="container mt-5 ps-5">
            <div class="row">
                <div class="col-6">
                    <p class="lg-text">Heading - Text Style </p>
                </div>
                <div class="col-6 text-end align-self-center">
                    <div class="border-line"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <h1 class="fw-bolder">Heading 1 - 64px Bold</h1>
                    <h2 class="fw-bolder">Heading 2 - 48px Bold</h2>
                    <h3 class="fw-bolder">Heading 3 - 32px Bold</h3>
                    <h4 class="fw-bolder">Heading 4 - 24px Bold</h4>
                    <h5 class="fw-bolder">Heading 5 - 20px Bold</h5>
                    <h6 class="fw-bolder">Heading 6 - 16px Bold</h6>
                </div>
                <div class="col-4">
                    <h1>Heading 1 - 64px Regular</h1>
                    <h2>Heading 2 - 48px Regular</h2>
                    <h3>Heading 3 - 32px Regular</h3>
                    <h4>Heading 4 - 24px Regular</h4>
                    <h5>Heading 5 - 20px Regular</h5>
                    <h6>Heading 6 - 16px Regular</h6>
                </div>
                <div class="col-4">
                    <h1 class="fw-normal">Heading 1 - 64px Medium</h1>
                    <h2 class="fw-normal">Heading 2 - 48px Medium</h2>
                    <h3 class="fw-normal">Heading 3 - 32px Medium</h3>
                    <h4 class="fw-normal">Heading 4 - 24px Medium</h4>
                    <h5 class="fw-normal">Heading 5 - 20px Medium</h5>
                    <h6 class="fw-normal">Heading 6 - 16px Medium</h6>
                </div>
            </div>
        </div>

        <!-- paragraph container -->
        <div class="container mt-5 ps-5">
            <div class="row">
                <div class="col-6">
                    <p class="lg-text">Paragraph - Text Style</p>
                </div>
                <div class="col-6 text-end align-self-center">
                    <div class="border-line"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <p class="fw-bolder">Body - 16px Bold</p>
                    <p class="fw-bolder">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illo,
                        accusantium ipsum quisquam iusto voluptate animi sequi laboriosam praesentium ipsa numquam
                        repudiandae sit libero recusandae, dolorem fugit. Incidunt, asperiores ea.
                    </p>
                </div>
                <div class="col-4">
                    <p>Body - 16px Medium</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illo,
                        accusantium ipsum quisquam iusto voluptate animi sequi laboriosam praesentium ipsa numquam
                        repudiandae sit libero recusandae, dolorem fugit. Incidunt, asperiores ea.
                    </p>
                </div>
                <div class="col-4">
                    <p class="fw-lighter">Body - 16px regular</p>
                    <p class="fw-lighter">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illo,
                        accusantium ipsum quisquam iusto voluptate animi sequi laboriosam praesentium ipsa numquam
                        repudiandae sit libero recusandae, dolorem fugit. Incidunt, asperiores ea.
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <p class="fw-bolder sm-text">Body - 12px Bold</p>
                    <p class="fw-bolder sm-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illo,
                        accusantium ipsum quisquam iusto voluptate animi sequi laboriosam praesentium ipsa numquam
                        repudiandae sit libero recusandae, dolorem fugit. Incidunt, asperiores ea.
                    </p>
                </div>
                <div class="col-4">
                    <p class="sm-text">Body - 12px Medium</p>
                    <p class="sm-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illo,
                        accusantium ipsum quisquam iusto voluptate animi sequi laboriosam praesentium ipsa numquam
                        repudiandae sit libero recusandae, dolorem fugit. Incidunt, asperiores ea.
                    </p>
                </div>
                <div class="col-4">
                    <p class="fw-lighter sm-text">Body - 12px Regular</p>
                    <p class="fw-lighter sm-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illo,
                        accusantium ipsum quisquam iusto voluptate animi sequi laboriosam praesentium ipsa numquam
                        repudiandae sit libero recusandae, dolorem fugit. Incidunt, asperiores ea.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}