{% set page_class = Colography %}
{% extends "./app/partials/template.njk" %}
{% block main %}
    <section #styleGuide class="style-guide mb-lg-5">
        <div class="container-fluid header bg-light">
            <div class="container p-5 ">
                <h2 class="hero-title">Colorgraphy</h2>
            </div>
        </div>
        <!-- parimary bg container -->
        <div class="container mt-5 ps-5">
            <div class="row">
                <div class="col-6">
                    <p class="lg-text">Primary</p>
                </div>
                <div class="col-6 text-end align-self-center">
                    <div class="border-line"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="color-box bg-primary border border-0"></div>
                </div>
                <div class="col-6">
                    <div class="color-box bg-secondary border border-0"></div>
                </div>
            </div>
        </div>

        <!-- secondary bg container -->
        <div class="container mt-5 ps-5">
            <div class="row">
                <div class="col-6">
                    <p class="lg-text">Secondary</p>
                </div>
                <div class="col-6 text-end align-self-center">
                    <div class="border-line"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="color-box bg-success border border-0"></div>
                </div>
            </div>
        </div>

        <!-- text container -->
        <div class="container mt-5 ps-5">
            <div class="row">
                <div class="col-6">
                    <p class="lg-text">Text</p>
                </div>
                <div class="col-6 text-end align-self-center">
                    <div class="border-line"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="color-box title-bg border border-0"></div>
                </div>
                <div class="col-4">
                    <div class="color-box body-text-bg border border-0"></div>
                </div>
                <div class="col-4">
                    <div class="color-box disbable-text-bg border border-0"></div>
                </div>
            </div>
        </div>

        <!-- Background conatiner -->
        <div class="container mt-5 ps-5">
            <div class="row">
                <div class="col-6">
                    <p class="lg-text">Background</p>
                </div>
                <div class="col-6 text-end align-self-center">
                    <div class="border-line"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="color-box bg-light border border-0"></div>
                </div>
                <div class="col-6">
                    <div class="color-box bg-white"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
