.border-line {
  height: 1px;
  width: 640px;
  background-color: #000;
}

.color-box {
  height: 120px;
  width: 400px;
  border: 1px solid;
}

.disbable-text-bg {
  background-color: $disable-text-color;
}
.body-text-bg {
  background-color: $body-text-color;
}
.title-bg {
  background-color: $title-color;
}
.section-margin {
  margin-top: 80px !important;
  @include media-breakpoint-up(lg) {
    margin-top: 150px !important;
  }
}
.margin-bottom {
  margin-bottom: 200px !important;
}
.mrgin-btn-column {
  margin-top: 40px !important;
  @include media-breakpoint-up(lg) {
    margin-top: 80px !important;
  }
}
