.home-work-btn {
  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 30.5rem;
  }
}
.m-left {
  @include media-breakpoint-up(lg) {
    margin-left: 9.5rem;
  }
}

.home-service-card {
  @include media-breakpoint-down(md) {
    margin: auto;
    width: 384px;
  }
}
.horizontal-scroll {
  @include media-breakpoint-down(md) {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
